@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
:root {
    --primary-color: #f59e0b;
    --dark-brown: maroon;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: var(--dark-brown);
}

h1 {
    margin: auto;
}

.descrpition {
    font-size: medium;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    text-align: center;
    max-width: 35%;
    /*max-height: 30%;*/
    margin: 0 auto;
    /*margin-top: 1rem;*/
}

#bill-amount {
    width: 70%;
    margin: auto;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 0.5rem;
}

#cash-given {
    width: 70%;
    margin: auto;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 0.5rem;
}

#check-button {
    width: 8rem;
    padding: 0.5rem;
    margin: auto;
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    cursor: pointer;
    font-family: Verdana, Geneva;
}

.change {
    margin-bottom: 0.5rem;
}

.change-table {
    border: 1px solid whitesmoke;
}

td {
    border: 1px solid whitesmoke;
}

th {
    border: 1px solid whitesmoke;
}